In [3]:
import pandas as pd

In [68]:
df = pd.read_csv('Project_dataset_1.csv')

for index in range(1,len(df.columns)):
    df = df.rename({ df.columns[index] : df.iloc[0, index]}, axis = 1)
df = df.drop(df.index[0:2], axis = 0)
df = df.rename({'NaN' : 'demographic group'}, axis = 1)

df

,Unnamed: 0,Sex,Total male and female,Male,Female,Total male and female,Male,Female
2,Total persons,2018,82.9,83.0,82.9,8.6,8.0,9.2
3,Total persons,2019,81.9,82.6,81.3,8.6,7.9,9.2
4,Total persons,2020,73.8,74.4,73.2,3.9,3.6,4.2
5,Total persons,2021,78.1,77.9,78.4,4.2,3.8,4.7
6,Total persons,2022,79.7,79.8,79.7,6.1,5.6,6.5
...,...,...,...,...,...,...,...,...
133,"Participation: unemployed, other",2019,71.0,72.2,70.6,5.0,6.4,4.5
134,"Participation: unemployed, other",2020,62.1,64.4,61.4,2.1,.,1.9
135,"Participation: unemployed, other",2021,67.8,67.7,67.8,2.9,.,2.8
136,"Participation: unemployed, other",2022,70.1,70.0,70.1,3.8,5.4,3.3
137,Source: CBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Int64Index([1], dtype='int64')